.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  padding: 1rem;
}
.footer {
  padding: 1rem;
}
.jumbotron {
  background-image: url(woodbg.jpg);
  min-height: 280px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
img {
  padding: 5px;
}
.col-lg-4 {
  border: 3px solid white;
  border-radius: 4px;
}
.form-inline {
  display: flex;
  flex-direction: column;
}
label {
  padding-bottom: 5px;
}
.alert {
  display: none;
}
.footer a {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
